@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');

/* mononoki-latin-400-normal */
@font-face {
    font-family: 'Mononoki';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/mononoki@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/mononoki@latest/latin-400-normal.woff) format('woff');
}

* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* * MENÚ * */

.contenedor-header {
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.contenedor-header header .logo-pag img {
    width: 42px;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: 2s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
    color: #e94343;
}

.nav-responsive {
    background-color: #e94343;
    color: #fff;
    padding: 5px 10px;
    margin-right: 2rem;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* * INICIO * */

.inicio {
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, .1)), url(../img/fondo.jpg);
    background-size: cover;
    height: 112vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner {
    padding: 20px;
    background-color: #16191b;
    max-width: 350px;
    margin: auto;
    margin-bottom: 9%;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenido-banner img {
    margin-top: 40px;
    border: 5px solid #e94343;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner h1 {
    margin-top: 10px;
    font-size: 42px;
    font-family: 'Mononoki', sans-serif;
}

.inicio .contenido-banner h2 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: lighter;
}

.inicio .contenido-banner .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 2px solid #e94343;
    border-radius: 100%;
    width: 52px;
    height: 52px;
    line-height: 52px;
    margin: 25px 5px;
    font-size: 30px;
    transition: .3s;
}

.inicio .contenido-banner .redes a:hover {
    background-color: #e94343;
}

/* * SOBRE MI * */

.sobremi {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.sobremi .contenido-section {
    max-width: 1100px;
    margin: auto;
}

.sobremi h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenido-section p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-section p span {

    color: #e94343;
    font-weight: bold;
    font-family: 'Mononoki', sans-serif;
    font-size: x-large;
}

.sobremi .fila {
    display: flex;
}

.sobremi .fila .col {
    width: 50%;
}

.sobremi .fila .col h3 {
    font-size: 29px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.sobremi .fila .col ul {
    list-style: none;
}

.sobremi .fila .col ul li {
    margin: 12px 0;
}

.sobremi .fila .col ul li strong {
    display: inline-block;
    color: #e94343;
    width: 130px;
}

.sobremi .fila .col ul li span {
    background-color: #e94343;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .contenedor-interes {
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .contenedor-interes .interes {
    width: 115px;
    height: 115px;
    background-color: #16191b;
    border-radius: 15px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi .fila .col .contenedor-interes .interes:hover {
    background-color: #e94343;
}

.sobremi .fila .col .contenedor-interes .interes i {
    font-size: 30px;
    margin-bottom: 10px;
}

.sobremi button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 20px;
    color: #fff;
    position: relative;
    z-index: 10;

}

.sobremi button span {
    color: #fff;
    font-family: 'Mononoki', sans-serif;
}

.sobremi button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #e94343;
    z-index: -1;
    transition: 1s;
}

.sobremi button:hover .overlay {
    width: 100%;
}

/* * SKILLS * */
.skills {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.skills .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.skills h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.skills .fila {
    display: flex;
}

.skills .fila .col {
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.skills .skill>span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .barra-skill {
    height: 8px;
    width: 80%;
    background-color: #16191b;
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progreso {
    background-color: #e94343;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barra-skill span {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #e94343;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

/* * Poner el Porcentaje de Skills */
/* ! HARDSKILLS */
/* ? JS */
.skills .skill .javascript {
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 88%;
    }
}

/* ? WORDPRESS */
.skills .skill .wordpress {
    width: 0%;
    animation: 2s wordpress forwards;
}

@keyframes wordpress {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

/* ? HTML&CSS */
.skills .skill .htmlcss {
    width: 0%;
    animation: 2s htmlcss forwards;
}

@keyframes htmlcss {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

/* ? JAVA */
.skills .skill .java {
    width: 0%;
    animation: 2s java forwards;
}

@keyframes java {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

/* ? CANVA */
.skills .skill .canva {
    width: 0%;
    animation: 2s canva forwards;
}

@keyframes canva {
    0% {
        width: 0%;
    }

    100% {
        width: 78%;
    }
}

/* ?  */
.skills .skill .clipchamp {
    width: 0%;
    animation: 2s clipchamp forwards;
}

@keyframes clipchamp {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

/* ? bootstrap */
.skills .skill .bootstrap {
    width: 0%;
    animation: 2s bootstrap forwards;
}

@keyframes bootstrap {
    0% {
        width: 0%;
    }

    100% {
        width: 87%;
    }
}

/* ? bootstrap */
.skills .skill .git {
    width: 0%;
    animation: 2s git forwards;
}

@keyframes git {
    0% {
        width: 0%;
    }

    100% {
        width: 92%;
    }
}

/* ? english */
.skills .skill .english {
    width: 0%;
    animation: 2s english forwards;
}

@keyframes english {
    0% {
        width: 0%;
    }

    100% {
        width: 56%;
    }
}

/* ! SOFTSKILLS */
/* ? AssertiveCommunication */
.skills .skill .assertive {
    width: 0%;
    animation: 2s assertive forwards;
}

@keyframes assertive {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

/* ? Leadership */
.skills .skill .leadership {
    width: 0%;
    animation: 2s leadership forwards;
}

@keyframes leadership {
    0% {
        width: 0%;
    }

    100% {
        width: 84%;
    }
}

/* ? Oratoty */
.skills .skill .oratory {
    width: 0%;
    animation: 2s oratory forwards;
}

@keyframes oratory {
    0% {
        width: 0%;
    }

    100% {
        width: 89%;
    }
}

/* ? critical */
.skills .skill .critical {
    width: 0%;
    animation: 2s critical forwards;
}

@keyframes critical {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

/* ? teamwork */
.skills .skill .teamwork {
    width: 0%;
    animation: 2s teamwork forwards;
}

@keyframes teamwork {
    0% {
        width: 0%;
    }

    100% {
        width: 86%;
    }
}

/* ? innovation */
.skills .skill .innovation {
    width: 0%;
    animation: 2s innovation forwards;
}

@keyframes innovation {
    0% {
        width: 0%;
    }

    100% {
        width: 92%;
    }
}

/* ? resolution */
.skills .skill .resolution {
    width: 0%;
    animation: 2s resolution forwards;
}

@keyframes resolution {
    0% {
        width: 0%;
    }

    100% {
        width: 82%;
    }
}

/* ? resilien */
.skills .skill .resilien {
    width: 0%;
    animation: 2s resilien forwards;
}

@keyframes resilien {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

/* commitment */
.skills .skill .commitment {
    width: 0%;
    animation: 2s commitment forwards;
}

@keyframes commitment {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}

/* OjO: SECCIÓN DE CURRICULUM */
.curriculum {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.curriculum .contenido-section {
    max-width: 1100px;
    margin: auto;
}

.curriculum h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.curriculum .fila {
    display: flex;
    justify-content: space-between;
}

.curriculum .fila .col {
    width: 49%;
    padding: 0 20px;
}

.curriculum .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.curriculum .fila .col {
    width: 49%;
    padding: 0 20px;
}

.curriculum .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 2.4rem;
}

.curriculum .fila .izquierda {
    border-right: 2px solid #252A2E;
}

.curriculum .fila .derecha {
    border-left: 2px solid #252A2E;
}

.curriculum .fila .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}

.curriculum .fila .item h4 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #e94343;
    font-family: 'Mononoki', sans-serif;
}

.curriculum .fila .item .uni {
    font-weight: bold;
    display: block;
    color: #e94343;
    font-family: 'Mononoki', sans-serif;
    margin-bottom: 10px;
}

.curriculum .fila .item .fecha {
    display: block;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: 750;
}

.curriculum .fila .item p {
    line-height: 24px;
}

.curriculum .fila .izq {
    border-right: 2px solid #e94343;
    margin-right: 20px;
}

.curriculum .fila .der {
    border-left: 2px solid #e94343;
    margin-right: 20px;
}

.curriculum .fila .item .conectori {
    height: 2px;
    background-color: #e94343;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectori .circuloi {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #e94343;
    float: right;
    position: relative;
    bottom: 4px;

}

.curriculum .fila .item .conectord {
    height: 2px;
    background-color: #e94343;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -27px;
    z-index: 5;
}

.curriculum .fila .item .conectord .circulod {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #e94343;
    float: left;
    position: relative;
    bottom: 4px;
}

/* OjO -> SECCION PORTAFOLIO */

.portafolio {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.portafolio .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.portafolio h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.portafolio .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portafolio .galeria a {
    color: white;
}

.portafolio .galeria .proyecto {
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portafolio .galeria .proyecto img {
    width: 100%;
    display: block;
}

.portafolio .galeria .proyecto .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    background: linear-gradient(rgba(36, 36, 36, 0.5), rgba(233, 67, 67, 0.699));
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.portafolio .galeria .proyecto .overlay h3 {
    margin-bottom: 20px;
    transition: 1s;
}

.portafolio .galeria .proyecto .overlay:hover {
    opacity: 1;
}

.portafolio .galeria .proyecto .overlay:hover h3 {
    margin-bottom: 0px;
}

/* OjO -> SECCION CONTACTO */
.contacto {
    background-image: url(../img/backgroundcontacto.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0px;
}

.contacto .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.contacto h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.contacto .fila {
    display: flex;
}

.contacto .col {
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacto .col input,
.contacto .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
    font-family: 'Mononoki', sans-serif;
}

.contacto button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;

}

.contacto button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #e94343;
    z-index: -1;
    transition: 1s;
}

.contacto button:hover .overlay {
    width: 100%;

}

.contacto .col img {
    width: 100%;
}

.contacto .col .info {
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacto .col .info ul {
    list-style: none;
}

.contacto .col .info ul li {
    margin-bottom: 20px;
}

.contacto .col .info ul li i {
    color: #e94343;
    display: inline-block;
    margin-right: 20px;
}

footer {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes {
    margin-bottom: 20px;
}

footer .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 2px solid #e94343;
    border-radius: 100%;
    width: 52px;
    height: 52px;
    line-height: 52px;
    margin: 25px 5px;
    font-size: 30px;
    transition: .3s;
}

footer .redes a:hover {
    background-color: #e94343;
}

footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #e94343;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

/* OjO -> RESPONSIVE */
@media screen and (max-width: 1150px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
        margin-right: 1rem;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 54px;
        background-color: #1e2326;
        width: 180px;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }

    .inicio {
        height: 100vh;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 912px) {
    .nav-responsive {
        margin-right: -0.1rem;
    }

    .sobremi .fila {
        display: block;
    }

    .sobremi .fila .col {
        width: fit-content;
    }

    .skills .fila {
        display: block;
    }

    .skills .fila .col {
        width: 100%;
    }

    .skills .fila .col .barra-skill {
        width: 100%;
    }

    .curriculum .fila {
        display: block;
    }

    .curriculum .fila .col {
        width: 100%;
    }

    .curriculum .fila .derecha {
        margin-left: 20px;
    }

    .portafolio .galeria {
        display: block;
        width: 100%;
    }

    .portafolio .galeria .proyecto {
        max-width: 100%;
    }

    .portafolio .galeria .proyecto img {
        width: 100%;
    }

    .contacto .fila {
        display: block;
    }

    .contacto .fila .col {
        width: 100%;
    }
}

@media screen and (max-width: 430px) {
    .inicio {
        height: 45rem;
    }
}